@import "glitch.css";
@import "normalize.css";
.glitch {
 font-size:4em;
}
@media screen and (max-width:60em) {
 .glitch {
  font-size:3em;
 }
}
@media screen and (max-width:50em) {
 .glitch {
  font-size:2.5em;
 }
}
@media screen and (max-width:40em) {
 .glitch {
  font-size:2em;
 }
}
@media screen and (max-width:30em) {
 .glitch {
  font-size:1.3em;
 }
}
@media screen and (max-width:20em) {
 .glitch {
  font-size:1em;
 }
}

